<!DOCTYPE html>
<html>
<head>
<style>
  table {
    border-collapse: collapse;
    width: 300px;
  }
  th, td {
    border: 1px solid #c6c7cc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
</style>
</head>
<body>

<table>
  <tr>
    <th>Name</th>
    <td>James Bond</td>
    <td>Lucifer</td>
  </tr>
  <tr>
    <th>Number</th>
    <td>007</td>
    <td>666</td>
  </tr>
  <tr>
    <th>Origin</th>
    <td>MI6</td>
    <td>Hell</td>
  </tr>
</table>

</body>
</html>
